<div class="form_container">

    <!--    <div>-->
    <!--        <h2>Email : {{form.email}}</h2>-->
    <!--        <h2>Password:{{form.password}}</h2>-->
    <!--    </div>-->

    <form name="form" action="" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" >


      <div class="form-error" *ngIf="email.errors && f.submitted">
        Email invalid
      </div>
      <div class="group">
        <label for="email">Email :</label>
        <input type="text" name="email" id="email" [(ngModel)]="form.email" #email="ngModel" required>
      </div>



      <div class="form-error" *ngIf="password.errors && f.submitted">
        <div *ngIf="password.hasError('required')">le mot de password est obligatoire</div>
        <div *ngIf="password.hasError('minlength')">le mot de passe de contenir 8 caractères </div>
      </div>
      <div class="group">
        <label for="password">Password : </label>
        <input type="password" name="password" id="password" [(ngModel)]="form.password" #password="ngModel" required minlength="8">
      </div>


      <div class="form-error" *ngIf="option && f.submitted">
        <div class="" *ngIf="option.hasError('required')">Sélectionner une option </div>
      </div>
      <div class="group">
        <label for="option">Sélection :</label>
        <select name="option" id="option" [(ngModel)]="form.option" #option="ngModel" required>
          <option *ngFor="let option of optionList" [value]="option">{{ option }}</option>
        </select>
      </div>

      <div class="group">
        <button type="submit">Login</button>
      </div>
    </form>
</div>
